.mainPage {
    position: absolute;

    width: calc(100% - 80px);
    left: 80px;
    height: calc(100% - 35px);
    top: 35px;

    background: var(--third-color);
    border-radius: 15px 0 0 0;

    overflow: hidden;
}

.mainArea {
    width: 80%;
    margin-left: 20%;
    height: 100%;
}

.mainChatArea {
    display: flex;

    width: 100%;
    height: calc(100% - 60px);
}

.chatArea {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
}

.chatArea input {
    padding: 0 5%;

    margin-bottom: 20px;

    width: 95%;
    height: 46px;
    min-height: 46px;

    outline: none;
    border: none;

    border-radius: 10px;
    background: var(--input-color);

    color: var(--icons-color);
}

.chatArea input::-webkit-input-placeholder {
    font-family: 'Nunito', sans-serif;
    color: var(--icons-color);
}

.chatArea> *:nth-child(2) {
    position: absolute;
    left: 3.7%;
    bottom: 31px;

    color: var(--icons-color);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.chatArea> *:nth-child(2):hover {
    color: white;
}

.messageArea {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 20px;

    width: 95%;
    height: 80%;

    overflow: auto;
}
.messageArea > *:first-child {
    margin-top: auto !important;
}

.messageArea > *:not(:first-child) {
    margin-top: 10px;
}