.wrapper {
    display: flex;
    align-items: center;

    height: fit-content;
    min-height: fit-content;

    word-wrap: anywhere;
}

.textArea {
    color: var(--icons-color);
    font-family: 'Nunito', sans-serif;

    margin-left: 20px;
}

.textArea h1 {
    font-size: 16px;
}

.textArea p {
    font-size: 14px;
}