@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #212226;
    --second-color: #303136;
    --sidebar-color: #303136;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    background: var(--main-color);
}